@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,600;1,300;1,600&family=Montserrat:wght@300;400;600;700&display=swap');

body {
  font-family: 'Montserrat',sans-serif;
  margin: 0px;
}

main {
  margin: 0px 120px;
  min-height: calc(100vh - 226px);
}

header {
  height: 72px;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0px;
  display: flex;
}

nav {
  height: 72px;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav figure {
  width: 110px;
  height: 58px;
  margin: 0px;
  display: flex;
}

nav ul {
  height: 72px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;  
}

.height-auto {
  height: auto;
}

.navigator li {
  display: block;
  width: 100%;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.navigator li a:hover {
  color: #ffffff;
  background-color: #073e3e;
}

ul li {
  padding: 12px;
  margin: 16px;
  display: inline-block;
}

form {
  width: 400px;
  margin: 0px 25px 25px 25px;
  display: inline-block;
 
}

ul li a {
  color:#073e3e;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
}

form label {
  font-weight: 600;
  color: #073e3e;
  display: inline-block;
  margin: 24px 12px 6px 0px;
}

form input {
  width: 360px;
  height: 45px ;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: gray;
  display: inline-block;
  box-sizing: border-box;
  padding: 0px 12px;
}

form select {
  width: 360px;
  height: 45px;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: gray;
  padding: 0px 12px;
  display: inline-block;
}

textarea {
  width: 360px;
  height: 110px;
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  border-color: gray;
  margin: 0px;
  display: inline-block;
}

form input[type=checkbox] {
  width: 24px;
  height: 24px;
  border-color: #073e3e;
  display: inline;
  margin: 16px 12px;
}

form label[for=aceptar] {
  display: inline-block;
}

input[type=reset], input[type=submit] {
  font-size: 16px;
  font-weight: 600;
  color: white;
  width: 168px;
  height: 45px;
  background-color: #073e3e;
  margin: 12px 24px 12px 0px;
  padding: 0px;
  display: inline;
}

fieldset {
  height: 45px;
  border-style: none;
  padding: 0px;
  margin: 12px 0px;
}

footer {
  width: 100%;
  color: white;
  background-color: #073e3e;
  display: flex;
  justify-content: space-between;
}

tr th {
  font-weight: 600;
  color: #073e3e;
}

tr td {
  color: #073e3e;
}

figure {
  margin: 0px;
}

.hamburger-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28163, 163, 16329' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

#responsive-menu {
  display: none;
  background-color: transparent;
  border: none;
}

.portada {
  width: 1200px;
  height: 360px;
  border-radius: 20px;
  background-image: url("../images/Placeholder1200x360.png") ;
}

.titlePortada {
  padding: 86px 55px 86px 763px;
  font-weight: 700;
  text-align: right;
  color: #073e3e;
  font-size: 60px;
}

.titlePage {
  font-weight: 700;
  color: #073e3e;
  font-size: 46px;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 55px;
}

.titleSection {
  font-weight: 600;
  font-size: 36px;
  color: #073e3e;
}

.titleArticle {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  padding: 12px 12px 6px 12px;
  margin: 0px;
}

.parrafo {
  font-family: 'Cormorant Infant', serif;
  font-weight: 300;
  font-size: 16px;
  color: #000000;
  padding: 6px 12px 0px 12px;
  margin: 0px;
}

.cardNovedades {
  width: 360px;
  height: 360px;
  margin: 12px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 3px 10px #00000038;
  display: inline-block;
}

.cardTopLeidos {
  width: 550px;
  height: 150px;
  margin: 12px 0px;
  padding: 0px;
  border-radius: 20px;
  box-shadow: 0px 3px 10px #00000038;
}

.cardNovedades img {
  border-radius: 20px 20px 0px 0px;
}
 
.cardTopLeidos figure {
  display: inline-block;
  margin: 15px;
}

.topLeidosText {
  width: 380px;
  height: 150px;
  display: inline-block;
}

.parrafoSection {
  width: 600px;
  margin: 0px 25px;
  color: #073e3e;
  font-family: 'Cormorant Infant', serif;
  font-size: 16px;
  line-height: 1.5rem;
  display: inline-block;
}

.timeArticle {
  font-weight: 300;
  font-size: 14px;
  text-align: right;
  color: #073e3e;
  display: block;
}

.verMas {
  font-weight: 600;
  font-size: 14px;
  height: 38px; 
  width: 120px;
  background-color:#073e3e;
  border-radius: 18px;
  color: white;
  box-sizing: border-box;
  margin: 0px 17px 16px 228px;
  text-align: center;
  padding: 12px;
}

.contenedorNovedades {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.contenedorTop {
  width:600px ;
  height: 870px;
  display: flex;
  flex-direction: column; 
}

.contenerPagina {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bordeImagen{
  border-radius: 20px;
}

.encuadreImagen {
  border-radius: 20px;
  margin: 0px 25px;
}

.textContact {
width: 400px;
margin: 0px 25px;
color: #073e3e;
font-size: 16px;
line-height: 1.5rem;
display: inline-block;
}

.cajasContact {
  width: 450px;
  display:inline-block;
}

.contenedorColumnas{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.columnasArticulos {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 228px;
  height: 66px;
  padding: 0px;
  border-radius: 33px;
  border-style: solid;
  border-color: #073e3e;
  border-width: 4px;
}

#anuncios{
  width: 400px;
  height: 600px ;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4,88px);
  grid-template-rows: repeat(6,88px);
  grid-gap: 24px;
  grid-template-areas: 
    "i1 i1 i3 i3"
    "i1 i1 i3 i3"
    "i2 i2 i3 i3"
    "i2 i2 i3 i3"
    "i4 i4 i4 i4"
    "i4 i4 i4 i4"
    "i4 i4 i4 i4";
}

#a1 {
  grid-area: i1;
}

#a2 {
  grid-area: i2;
}

#a3 {
  grid-area: i3;
}

#a4 {
  grid-area: i4;
}

#eventos {
  margin-right: 2rem;
}

@media only screen and (max-width: 600px) {
  main {
    margin: 0 1rem;
  }

  .titlePage {
    font-size: 2rem;
    margin: 1.5rem 0;
  }

  .contenerPagina {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  #eventos {
    font-size: .9rem;
    overflow-x: auto;
    margin-right: 0;
    max-width: 300px;
  }

  #anuncios {
    width: auto;
  }

  #responsive-menu {
    display: inline-block;
  }

  nav ul {
    display: none;
  }

  footer {
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    color: white;
    background-color: #073e3e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }

  footer img {
    margin-bottom: 1rem;
  }

  .contenedorColumnas {
    justify-content: center;
    padding: 0px;
  }

}
