.portada {
  width: 1200px;
  height: 360px;
  border-radius: 20px;
  background-image: url("../images/Placeholder1200x360.png") ;
  margin-top: 50px;
  margin-bottom: 50px;

  .titlePortada {
    padding: 86px 55px 86px 763px;
    font-weight: 700;
    text-align: right;
    color: #073e3e;
    font-size: 60px;
  }
}

.titleSection {
  font-weight: 600;
  font-size: 36px;
  color: #073e3e;
}

.contenedorNovedades {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .cardNovedades {
    width: 360px;
    height: 360px;
    margin: 12px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 3px 10px #00000038;
    display: inline-block;

    .titleArticle {
      font-weight: 600;
      font-size: 16px;
      color: #000000;
      padding: 18px 12px 6px 12px;
      margin: 0px;
    }

    img {
      width: 360px;
      border-radius: 20px 20px 0px 0px;
      overflow: hidden;
    }

    .verMas {
      font-weight: 600;
      font-size: 14px;
      height: 38px; 
      width: 120px;
      background-color:#073e3e;
      border-radius: 18px;
      color: white;
      box-sizing: border-box;
      margin: 12px 17px 0px 228px;
      padding-top: 8px;
      text-align: center;
    }
  }
}

#anuncios {
    width: 400px;
    height: 600px ;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4,88px);
    grid-template-rows: repeat(6,88px);
    grid-gap: 24px;
    grid-template-areas: 
      "i1 i1 i3 i3"
      "i1 i1 i3 i3"
      "i2 i2 i3 i3"
      "i2 i2 i3 i3"
      "i4 i4 i4 i4"
      "i4 i4 i4 i4"
      "i4 i4 i4 i4";
  
  #a1 {
    grid-area: i1;
  }
  
  #a2 {
    grid-area: i2;
  }
  
  #a3 {
    grid-area: i3;
  }
  
  #a4 {
    grid-area: i4;
  }
  
}

.cardTopLeidos {
  width: 550px;
  height: 150px;
  margin: 12px 0px;
  padding: 0px;
  border-radius: 20px;
  box-shadow: 0px 3px 10px #00000038;

  figure {
    display: inline-block;
  }

  .topLeidosText {
    width: 380px;
    height: 150px;
    display: inline-block;
  }

  .timeArticle {
    font-weight: 300;
    font-size: 14px;
    text-align: right;
    color: #073e3e;
    display: block;
  }
}
