.portada {
  width: 1200px;
  height: 360px;
  border-radius: 20px;
  background-image: url('../images/Placeholder1200x360.png');
  margin-top: 80px;
  margin-bottom: 100px;

  .titlePortada {
    padding: 86px 55px 86px 763px;
    font-weight: 700;
    text-align: right;
    color: #073E3E;
    font-size: 60px;
  }
}

.titleNovedades {
  font-weight: 600;
  font-size: 36px;
  color: #073E3E;
  text-align: center;
}

.titleSection {
  font-weight: 600;
  font-size: 36px;
  color: #073E3E;
}

.contenedorNovedades {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .cardNovedades {
    width: 360px;
    height: 360px;
    margin: 12px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 3px 10px #00000038;
    display: inline-block;

    &:hover {
      box-shadow: 0 5px 10px $colorPrimario;
    }

    .titleArticle {
      font-weight: 600;
      font-size: 16px;
      color: #000000;
      padding: 18px 12px 6px 12px;
      margin: 0;
    }

    img {
      width: 360px;
      height: 190px;
      border-radius: 20px 20px 0 0;
      overflow: hidden;
    }

    .verMas {
      font-weight: 600;
      font-size: 14px;
      height: 38px;
      width: 120px;
      background-color: #073E3E;
      border-radius: 18px;
      color: white;
      box-sizing: border-box;
      margin: 12px 17px 0 228px;
      padding-top: 8px;
      text-align: center;
    }
  }
}

#anuncios {
  width: 600px;
  height: 855px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 24px;
  grid-template-areas: 'i1 i3'
    'i2 i3'
    'i4 i4';

  #a1 {
    grid-area: i1;
  }

  #a2 {
    grid-area: i2;
  }

  #a3 {
    grid-area: i3;
  }

  #a4 {
    grid-area: i4;
  }
}

.cardTopLeidos {
  width: 550px;
  height: 150px;
  margin: 12px 0;
  padding: 0;
  border-radius: 20px;
  box-shadow: 0 3px 10px #00000038;
  display: flex;

  &:hover {
    box-shadow: 0 5px 10px $colorPrimario;
  }

  figure {
    display: inline-block;
    margin: 1rem;
  }

  .topLeidosText {
    width: 380px;
    height: 150px;
    display: inline-block;
  }

  .timeArticle {
    font-weight: 300;
    font-size: 14px;
    text-align: right;
    color: #073E3E;
    display: block;
    margin-top: 8px;
  }

  .titleArticle {
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    padding: 16px 12px 6px 12px;
    margin: 0;
  }
}
