// Externos
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,600;1,300;1,600&family=Montserrat:wght@300;400;600;700&display=swap');

// Overwrites
@import './bootrstap-overwrite.scss';

// Reutilizables
@import './mixins.scss';
@import './variables.scss';

// Paginas
@import './acerca.scss';
@import './contacto.scss';
@import './eventos.scss';
@import './footer.scss';
@import './header.scss';
@import './home.scss';

// General

.height-auto {
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

main {
  margin: 0 auto;
  min-height: calc(100vh - 226px);
  max-width: 1200px;
}

fieldset {
  height: 45px;
  border-style: none;
  padding: 0;
  margin: 12px 0;
}

form {
  width: 410px;
  margin: 0 25px 25px 15px;
  display: inline-block;

  label {
    @include text-bold();

    color: $colorPrimario;
    display: inline-block;
    margin: 24px 12px 6px 0;

    &[for = 'aceptar'] {
      display: inline-block;
    }
  }

  input,
  select,
  textarea {
    border-color: #00000038;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    display: inline-block;
    outline: none;
    width: 400px;
    box-shadow: 0 2px 6px #00000038;

    &:focus {
      border-color: $colorPrimario;
      border-width: 2px;
    }
  }

  input {
    height: 45px;
    box-sizing: border-box;
    padding: 0 12px;

    &[type = 'checkbox'] {
      width: 24px;
      height: 24px;
      border-color: $colorPrimario;
      display: inline;
      margin: 16px 12px;
    }

    &[type = 'reset'],
    &[type = 'submit'] {
      @include text-bold();

      font-size: 16px;
      color: $white;
      width: 168px;
      height: 45px;
      background-color: $colorPrimario;
      margin: 12px 24px 12px 0;
      padding: 0;
      display: inline;
    }
  }

  select {
    height: 45px;
    padding: 0 12px;
  }

  textarea {
    height: 110px;
    margin: 0;
  }
}

.navigator {

  li {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

    a:hover {
      color: $white;
      background-color: $colorPrimario;
    }
  }
}

tr th {
  font-weight: 600;
  color: #073E3E;
}

tr td {
  color: #073E3E;
}

figure {
  margin: 0;
}

.hamburger-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28163, 163, 16329' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

#responsive-menu {
  display: none;
  background-color: transparent;
  border: none;
}

.titlePage {
  font-weight: 700;
  color: #073E3E;
  font-size: 46px;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 55px;
}

.parrafo {
  font-family: 'Cormorant Infant', serif;
  font-weight: 300;
  font-size: 16px;
  color: #000000;
  padding: 6px 12px 0 12px;
  margin: 0;
}

.titlePage {
  font-weight: 700;
  color: #073E3E;
  font-size: 46px;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 55px;
}

.parrafoSection {
  width: 500px;
  margin: 0 25px;
  color: #073E3E;
  font-family: 'Cormorant Infant', serif;
  font-size: 16px;
  line-height: 1.5rem;
  display: inline-block;
}

.contenerPagina {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 50px;
}

.bordeImagen {
  border-radius: 20px;
}

.encuadreImagen {
  border-radius: 20px;
  margin: 0 25px;
}

.textContact {
  width: 400px;
  margin: 0 25px;
  color: #073E3E;
  font-size: 16px;
  line-height: 1.5rem;
  display: inline-block;
}

#contenedorColumnas {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  .columnasArticulos {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 228px;
    height: 66px;
    padding: 0;
    border-radius: 33px;
    border-style: solid;
    border-color: #073E3E;
    border-width: 4px;
    overflow: hidden;
    box-shadow: 0 3px 10px #00000038;
    padding: 12px;
    margin: 16px;
    display: inline-block;

    a {
      @include text-bold();

      color: $colorPrimario;
      font-size: 14px;
      text-decoration: none;
    }

    &:hover {
      background-color: #073E3E;

      a {
        color: white;
      }
    }

    a {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
  }
}

@media only screen and (max-width : 600px) {

  main {
    margin: 0 1rem;
  }

  .titlePage {
    font-size: 2rem;
    margin: 1.5rem 0;
  }

  .contenerPagina {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  #eventos {
    font-size: 0.9rem;
    overflow-x: auto;
    margin-right: 0;
    max-width: 300px;
  }

  #responsive-menu {
    display: inline-block;
  }

  header nav ul {
    display: none;
  }

  .contenedorColumnas {
    justify-content: center;
    padding: 0;
  }

  .parrafoSection {
    width: 300px;
    margin: 0;
  }

  .contenedorNovedades {
    width: auto;
  }

  .verMas {
    margin: 12px;
  }

  #anuncios {
    width: 350px;
  }
}
