// Externos
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,600;1,300;1,600&family=Montserrat:wght@300;400;600;700&display=swap');

// Reutilizables
@import './mixins.scss';
@import './variables.scss';

// Paginas
@import './acerca.scss';
@import './contacto.scss';
@import './eventos.scss';
@import './footer.scss';
@import './header.scss';
@import './home.scss';

// General
.height-auto {
  height: auto;
}

body {
  font-family: 'Montserrat',sans-serif;
  margin: 0px;
}

main {
  margin: 0px 120px;
  min-height: calc(100vh - 226px);
}

fieldset {
  height: 45px;
  border-style: none;
  padding: 0px;
  margin: 12px 0px;
}

footer {
  width: 100%;
  color: $white;
  background-color: $colorPrimario;
  display: flex;
  justify-content: space-between;
}

ul {
  li {
    padding: 12px;
    margin: 16px;
    display: inline-block;

    a {
      @include text-bold();

      color: $colorPrimario;
      font-size: 14px;
      text-decoration: none;
    }
  }
}

form {
  width: 400px;
  margin: 0px 25px 25px 25px;
  display: inline-block;

  label {
    @include text-bold();

    color: $colorPrimario;
    display: inline-block;
    margin: 24px 12px 6px 0px;

    &[for=aceptar] {
      display: inline-block;
    }
  }

  input, select, textarea {
    border-color: $gray;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    display: inline-block;
    outline: none;
    width: 360px;

    &:focus {
      border-color: $colorPrimario;
      border-width: 2px;
    }
  }

  input {
    height: 45px;
    box-sizing: border-box;
    padding: 0px 12px;

    &[type=checkbox] {
      width: 24px;
      height: 24px;
      border-color: $colorPrimario;
      display: inline;
      margin: 16px 12px;
    }

    &[type=reset], &[type=submit] {
      @include text-bold();

      font-size: 16px;
      color: $white;
      width: 168px;
      height: 45px;
      background-color: $colorPrimario;
      margin: 12px 24px 12px 0px;
      padding: 0px;
      display: inline;
    }
  }

  select {
    height: 45px;
    padding: 0px 12px;
  }

  textarea {
    height: 110px;
    margin: 0px;
  }  
}

.navigator {
  li {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

    a:hover {
      color: $white;
      background-color: $colorPrimario;
    }
  }
}

tr th {
  font-weight: 600;
  color: #073e3e;
}

tr td {
  color: #073e3e;
}

figure {
  margin: 0px;
}

.hamburger-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28163, 163, 16329' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

#responsive-menu {
  display: none;
  background-color: transparent;
  border: none;
}

.titlePage {
  font-weight: 700;
  color: #073e3e;
  font-size: 46px;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 55px;
}

.parrafo {
  font-family: 'Cormorant Infant', serif;
  font-weight: 300;
  font-size: 16px;
  color: #000000;
  padding: 6px 12px 0px 12px;
  margin: 0px;
}

.titlePage {
  font-weight: 700;
  color: #073e3e;
  font-size: 46px;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 55px;
}


.parrafoSection {
  width: 600px;
  margin: 0px 25px;
  color: #073e3e;
  font-family: 'Cormorant Infant', serif;
  font-size: 16px;
  line-height: 1.5rem;
  display: inline-block;
}

.contenerPagina {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bordeImagen{
  border-radius: 20px;
}

.encuadreImagen {
  border-radius: 20px;
  margin: 0px 25px;
}

.textContact {
width: 400px;
margin: 0px 25px;
color: #073e3e;
font-size: 16px;
line-height: 1.5rem;
display: inline-block;
}

.contenedorColumnas{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.columnasArticulos {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 228px;
  height: 66px;
  padding: 0px;
  border-radius: 33px;
  border-style: solid;
  border-color: #073e3e;
  border-width: 4px;
}

@media only screen and (max-width: 600px) {
  main {
    margin: 0 1rem;
  }

  .titlePage {
    font-size: 2rem;
    margin: 1.5rem 0;
  }

  .contenerPagina {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  #eventos {
    font-size: .9rem;
    overflow-x: auto;
    margin-right: 0;
    max-width: 300px;
  }

  #responsive-menu {
    display: inline-block;
  }

  header nav ul {
    display: none;
  }

  footer {
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    color: white;
    background-color: #073e3e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }

  footer img {
    margin-bottom: 1rem;
  }

  .contenedorColumnas {
    justify-content: center;
    padding: 0px;
  }

  .parrafoSection {
    width: 300px;
    margin: 0px;
  }

  .contenedorNovedades {
    width: auto;
    }

  .verMas {
    margin:12px;
  }

  #anuncios{
    width: 350px;
    height: 400px ;
  }
}
